.breadcrumb-container {
  padding: 0rem 0.2rem;
  background-color: var(--layout-main-bg);
  border-bottom: 1px solid rgba(28, 34, 77, 0.08);
}

/* Responsive */
@media (max-width: 768px) {
  .breadcrumb-container {
    padding: 0.5rem 0.75rem;
  }
}

