<div class="login-container">
  <p-card styleClass="login-card">
    <ng-template pTemplate="header">
      <div class="login-header">
        <h1 class="text-h1 m-0">Sistema de Gestión</h1>
        <p class="text-h4 m-0">Inicia sesión para continuar</p>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <!-- Usuario -->
        <div class="form-field">
          <label class="field-label required">
            <i class="pi pi-user icon-bg-primary icon-bg icon-1x2"></i>
            Usuario o Email
          </label>
          <input
            id="usernameOrEmail"
            type="text"
            pInputText
            formControlName="usernameOrEmail"
            placeholder="Ingrese su usuario o email"
            class="form-control w-100"
            [class.input-error]="submitted && loginForm.get('usernameOrEmail')?.invalid" />
          <div class="field-helper error" *ngIf="submitted && loginForm.get('usernameOrEmail')?.invalid">
            <i class="pi pi-exclamation-circle"></i>
            El usuario o email es requerido
          </div>
        </div>

        <!-- Contraseña -->
        <div class="form-field">
          <label class="field-label required">
            <i class="pi pi-key icon-bg-primary icon-bg icon-1x2"></i>
            Contraseña
          </label>
          <p-password
            id="password"
            formControlName="password"
            [toggleMask]="true"
            [feedback]="false"
            placeholder="Ingrese su contraseña"
            [styleClass]="submitted && loginForm.get('password')?.invalid ? 'w-100 password-error' : 'w-100'"
            inputStyleClass="w-100" />
          <div class="field-helper error" *ngIf="submitted && loginForm.get('password')?.invalid">
            <i class="pi pi-exclamation-circle"></i>
            La contraseña es requerida (mínimo 4 caracteres)
          </div>
        </div>

        <!-- Botón de inicio de sesión -->
        <p-button
          label="Iniciar sesión"
          icon="pi pi-sign-in"
          type="submit"
          styleClass="btn-primary btn-lg w-100"
          [loading]="loading" />
      </form>
    </ng-template>
    <ng-template pTemplate="footer">

        <p-tag value="Solo usuarios con rol de administrador pueden acceder" icon="pi pi-info-circle" styleClass="p-tag-info tag-sm w-100 m-1" />
    </ng-template>
  </p-card>
</div>
