.spinner-container {
  width: 100%; /* Se ajusta al 100% del ancho del contenedor padre */
  height: 100%; /* Se ajusta al 100% del alto del contenedor padre */
  position: fixed; /* Cambiar a fixed para que cubra toda la pantalla */
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro translúcido */
  z-index: 99999; /* Z-index alto para superponer diálogos */
}

.loading-spinner {
  width: 20%; /* Puedes ajustar el tamaño dinámico aquí */
  height: 20%; /* Ajustar también la altura para ser proporcional */
  z-index: 100000; /* Asegura que el spinner esté encima del fondo */
}
